<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Xamarin.Core" version="16.1.0.26" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="15.4.0.20" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="portable45-net45+win8+wpa81" />
</packages>