<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to login to SunMobile.</string>
	<key>CFBundleDisplayName</key>
	<string>SunMobile</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SunMobile needs your location to find branches and ATMs.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.SuncoastMobile.Suncoast</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>3.5.7</string>
	<key>UIRequiresFullScreen</key>
	<string>Yes</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleName</key>
	<string>SunMobile</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Not used.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used when you send Suncoast a message and want to select a photo attachment.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Not used.</string>
	<key>NSCameraUsageDescription</key>
	<string>SunMobile needs access to your camera to take photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SunMobile needs access to microphone.</string>
	<key>NSLocationUsageDescription</key>
	<string>SunMobile needs access to your location to find ATMs and Branches.</string>
	<key>CFBundleVersion</key>
	<string>3.5.6.01</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcon.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
